mainBlue = rgb(21,126,221)
altBlue  = rgb(25, 105, 168)
darkBack = rgb(20,20,20)
altBack  = rgb(140,155,155)

[v-cloak]
    display:none

body
    background-color ghostwhite

.altBack
    background-color altBack

.altBlue
    background-color altBlue
    
.mainBlue
    background-color mainBlue
    color ghostwhite

#the-navbar
    background-color mainBlue

#the-footer
    background-color darkBack

.navbar > .container
    display block

.me-name
    font-size 18px
    font-weight bolder

.me-tagline
    font-size 14px
    font-weight lighter

a.navbar-brand .fa-code
    transition transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28)

a.navbar-brand .fa-circle
    transition color .5s ease-in

a.navbar-brand:hover .fa-code
    transform rotateZ(180deg)

a.navbar-brand:hover .fa-circle
    color altBlue

li.me-link
    transition border .5s
    position relative

li.me-link.active:before
    content ""
    position absolute
    background ghostwhite
    bottom 0
    height 2px
    left 0
    right 0
    


li.me-link:before
    content ""
    position absolute
    background rgba(0,0,0,0)
    transition all .3s
    bottom 0
    left 50%
    right 50%
    height 2px

li.me-link:hover:before
    content ""
    position absolute
    background altBlue
    left 0
    right 0
    height 2px

.sub-navbar
    background-color mainBlue
    color ghostwhite
    
.me-headshot
    border-radius 999px
    border 3px solid #222
    transform rotateZ(6deg)
    float left
    
.at-least-full-page
    min-height 90vh
    
.social-icon
    display inline-block
    color #888
    transition all .3s

.social-icon:hover
    color ghostwhite
    transition all .6s

.portfolio-screenshot
    max-height 80vh
    max-width 100%
    border: 2px solid darkBack
    
