mainBlue = rgb(21,126,221)
altBlue  = rgb(11,86,201)

[v-cloak]
    display:none

body
    background-color ghostwhite

#the-navbar
    background-color mainBlue

.navbar > .container
    display block

.me-name
    font-size 18px
    font-weight bolder

.me-tagline
    font-size 14px
    font-weight lighter