extends layout

block content
    .sub-navbar.text-center.py-2
        .container
            h1 About Raphael
            p Building sophisticated applications with a simple user experience.
    .container.mt-5
        .row
            .col-2.hidden-sm-down
            .col-sm-8
                img.me-headshot.mx-2(src="media/images/me.png")
                p.mt-2 I am a Full-Stack web developer, software development instructor, and music enthusiast. I have over 7 years of professional experience building applications in a variety of domains, including applications for education, marketing, games, music, and even neuroscience. 
                p The applications I build are fast, reliable, and solve complex problems, while being easy to use on phones, tablets, laptops, or whatever devices your users are using.
        .row
            .col-2.hidden-sm-down
            .col-sm-8
                h2.mt-4 Skills
                p.mt-2 I have experience with a variety of languages and frameworks, though my favorite stack of web technologies is Vue.js for a flexible and powerful front-end framework, and Node.js/Express for a fast, robust back-end server. I host my applications using Virtual Private Servers on DigitalOcean, which provides additional security compared to shared hosting. Although I am most familiar with DigitalOcean's hosting options, I'm perfectly happy to use another hosting service at a client's request.  
                p In addition to being proficient with the technologies listed above, I can also use other languages or frameworks, at the client's request. In particular, I can do custom Wordpress theme and plugin development for clients who enjoy the familiarity of a wordpress-powered website. 
                p I also have some more esoteric web development skills, such as making virtual reality applications that can be viewed on a phone or other VR hardware, or making web-based music production tools. 
        .row
            .col-2.hidden-sm-down
            .col-sm-8
                h2.mt-4 Open Source
                p.mt-2 I benefit immensely from open-source software, so I like to give back to the programming community when I can. In my free time, I like to build open-source tools for creating music on the web. 
                p Most of this effort has gone towards the <a href="https://github.com/rserota/wad">Web Audio DAW</a>, a Web Audio framework that can synthesize dynamic audio, play audio clips, interface with a microphone or MIDI device, apply special effects or pitch detection, all using Javascript in a web browser. The Web Audio DAW is among the leading Web Audio frameworks on github.com, with over 850 stars. 
                p A smaller, more recent open-source project I've finished is the <a href="https://github.com/rserota/aframe-metronome-component">A-Frame Metronome</a>. It's a simple tool that helps a developer keep track of time precisely in a 3D WebVR scene, which can be very useful for web-based virtual reality music applications. This project is featured on the <a href="https://aframe.io/aframe-registry/">A-Frame Registry</a>.
        .row
            .col-2.hidden-sm-down
            .col-sm-8
                h2.mt-4 Learn More
                p If you’d like to find out more about me, my skills, and how I can add value to your project or organization, feel free to send me an email at <a href="mailto:raphael.serota@gmail.com">raphael.serota@gmail.com</a>.
                p If you have a specific problem that you think I could help you with, perhaps you'd like to <a href="/hire-me">hire me</a>.
    .my-5




block scripts
