extends layout

block content
    .sub-navbar.text-center.py-2
        .container
            h1 About Raphael
            p Building sophisticated applications with a simple user experience.
    .container.mt-5
        .row
            .col-2
            .col-8
                img.me-headshot.mx-2.pull-left(src="media/images/me.png")
                p.mt-2 I am a Full-Stack web developer, software development instructor, and music enthusiast. I have over 7 years of professional experience building applications in a variety of domains, including applications for education, marketing, games, music, and even neuroscience. 
                p The applications I build are fast, reliable, and solve complex problems, while being easy to use on phones, tablets, laptops, or whatever devices your users are using.
        .row
            .col-2
            .col-8
                h2 Skills
        .row
            .col-2
            .col-8
                h2 Open Source
        .row
            .col-2
            .col-8
                h2 Learn More
                p If you’d like to find out more about me, my skills, and how I can add value to your project or organization, feel free to send me an email at <a href="mailto:raphael.serota@gmail.com">raphael.serota@gmail.com</a>.
                p If you have a specific problem that you think I could help you with, perhaps you'd like to <a href="/hire-me">hire me</a>.





block scripts
