extends layout

block content
    .sub-navbar.text-center.py-2
        .container
            h1 Hire Raphael
            p Enquire about working with me. 
    .container.mt-5
        .row
            .col-2
            .col-10
                p If you're interested in working with me, please send me an email at <a href="mailto:raphael.serota@gmail.com">raphael.serota@gmail.com</a>. In the body of your email, please include a description of your project, including the general size of the application you need built (number of pages/features), the intended users of the application, your budget, and an ideal completion date. Feel free to attach any images or other materials, such as screenshots or wire-frames, that would help me understand your project. 

block scripts
