extends layout

block content
    .sub-navbar.text-center.py-2
        .container
            h1 Recent Projects
    .container.m-5
        .row
            .col-2
            .col-8
                p For the past several years, my career has been focused mostly on education. I've worked at multiple web development bootcamps in Colorado teaching full-stack web development, writing curricula, and training other instructors. The applications featured below are some of my recent side projects.
    .container-fluid.pt-5.pb-3
        hr
        h2.text-center.m-5 Learn Real Estate
    .container
        .row
            .col-6
                p Learn Real Estate is an application that helps aspiring real estate agents study for their Colorado real estate license exam using a gamified quiz-based experience, similar to Duolingo. It is currently a work in progress, being built in collaboration with a practicing real estate agent. 
                p If you click through the link above to view the application, you'll be automatically logged in as a demo user, and then redirected to the lesson overview for the first lesson of the first section of the course, "Law and Practice / Elements of Real and Personal Property". <i>Be sure to click in the big blue "Take A Lesson!" button to take a quiz on this material, which is the core functionality of this application</i>. 
                p Quiz questions are drawn from a large bank of questions for each lesson. The application not only tracks your general mastery of the material, but also tracks your accuracy at answering each specific question; as a user retakes quizzes, the application will prefer to ask questions that the user has struggled with in the past, and will be less likely to ask questions that the user always answers correctly. 
            .col-6
                img(src="/media/images/learnrealestate-screenshot.jpg").portfolio-screenshot
    .container-fluid.pt-5.pb-3
        hr
        h2.text-center.m-5 Aeon's End Assistant 
    .container
        .row
            .col-6.text-center
                video(src="/media/videos/AeonsEndAssistantDemo.mov" preload="metadata" controls).portfolio-screenshot
            .col-6
                p Aeon's End Assistant is a "companion app" for Aeon's End, a wonderfully complex board game published in 2016 by Action Phase Games. This application, which I built in collaboration with the game's lead designer, greatly simplifies the process of setting up the game and keeping track of the state of various game elements. Normally, tracking the state of the game in Aeon's End requires hundreds of cards, tokens and counters of various types, which move through different zones and change their own state as the game progresses. Using the Aeon's End Assistant saves the player from needing to manually manage many facets of the game, and frees up valuable space on the table.
                p Aeon's End Assistant is an Android application that was built using Adobe PhoneGap. The application has not yet been fully released, although it is currently available in the Google Play App Store for public testing. 
                p The video on the right demonstrates most of the major functionality in the application. However, the video does <i>not</i> show an actual game of Aeon's End being played, nor do I expect anyone to learn how the game is played based on watching this video. 

    .container-fluid.pt-5.pb-3
        hr
        h2.text-center.m-5 Virtual Virtuoso
    .container
        .row
            .col-6
                p Virtual Virtuoso is a Virtual Reality musical looping application, built for the HTC Vive. It allows the user to create and play virtual musical instruments, which are individually capable of recording their output. By recording to multiple instruments that the user places throughout the scene, it is possible to create short songs with interesting rhythms and harmonies. 
                p The video on the right is the last video in a <a href="https://www.youtube.com/playlist?list=PLuSC1p5pwbHCfjb24xfjEILZgYXLneFIu" target="_blank">youtube playlist</a> that demonstrates the functionality of this application. The last video is certainly the most musically interesting, but you may want to watch the earlier videos to gain a better understanding of the basic mechanics of the application. 
                p I've presented this application at various meetup events at technology companies in Boulder, including Applied Trust and <a href="https://www.facebook.com/Goozmo/videos/1542697135777243/">Goozmo</a>. 
            .col-6.text-right
                iframe.portfolio-screenshot(width="560" height="315" src="https://www.youtube.com/embed/A7HejcWGGFY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
    .mt-5
block scripts
