extends layout

block content
    .sub-navbar.text-center.py-2
        .container
            h1 Recent Projects
    .container.m-5
        .row
            .col-2
            .col-8
                p For the past several years, my career has been focused mostly on education. I've worked at multiple web development bootcamps in Colorado teaching full-stack web development, writing curricula, and training other instructors. The applications featured below are some of my recent personal projects.
    .container-fluid.pt-5.pb-3
        h2.text-center Learn Real Estate
    .container
        .row
            .col-6
                p Learn Real Estate is an application that helps aspiring real estate agents study for their Colorado real estate license exam using a gamified quiz-based experience, similar to Duolingo. It is currently a work in progress, being built in collaboration with a practicing real estate agent. 
                p If you click through the link above to view the application, you'll be automatically logged in as a demo user, and then redirected to the lesson overview for the first lesson of the first section of the course, "Law and Practice / Elements of Real and Personal Property". <i>Be sure to click in the big blue "Take A Lesson!" button to take a quiz on this material, which is the core functionality of this application</i>. 
                p Quiz questions are drawn from a large bank of questions for each lesson. The application not only tracks your general mastery of the material, but also tracks your accuracy at answering each specific question; as a user retakes quizzes, the application will prefer to ask questions that the user has struggled with in the past, and will be less likely to ask questions that the user always answers correctly. 
            .col-6
                img(src="/media/images/learnrealestate-screenshot-jpg").portfolio-screenshot
block scripts
