#the-footer.pa-3
    .social-bar.text-center
        a(href="https://www.linkedin.com/in/raphael-serota"): i.social-icon.fab.fa-linkedin-in.fa-3x.m-3
        a(href="https://github.com/rserota"): i.social-icon.fab.fa-github.fa-3x.m-3