[v-cloak] {
  display: none;
}
body {
  background-color: #f8f8ff;
}
#the-navbar {
  background-color: #157edd;
}
.navbar > .container {
  display: block;
}
.me-name {
  font-size: 18px;
  font-weight: bolder;
}
.me-tagline {
  font-size: 14px;
  font-weight: lighter;
}
a.navbar-brand .fa-code {
  transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
a.navbar-brand .fa-circle-o {
  transition: color 0.5s ease-in;
}
a.navbar-brand:hover .fa-code {
  transform: rotateZ(180deg);
}
a.navbar-brand:hover .fa-circle-o {
  color: #0f5f8a;
}
li.active {
  border-bottom: 2px solid #f8f8ff;
}
li.me-link {
  transition: border 0.5s;
  position: relative;
}
li.me-link:before {
  content: "";
  position: absolute;
  background: rgba(0,0,0,0);
  transition: all 0.3s;
  bottom: 0;
  left: 50%;
  right: 50%;
  height: 2px;
}
li.me-link:hover:before {
  content: "";
  position: absolute;
  background: #0f5f8a;
  left: 0;
  right: 0;
  height: 2px;
}
