[v-cloak] {
  display: none;
}
body {
  background-color: #f8f8ff;
}
.altBack {
  background-color: #8c9b9b;
}
.altBlue {
  background-color: #1969a8;
}
.mainBlue {
  background-color: #157edd;
  color: #f8f8ff;
}
#the-navbar {
  background-color: #157edd;
}
#the-footer {
  background-color: #141414;
}
.navbar > .container {
  display: block;
}
.me-name {
  font-size: 18px;
  font-weight: bolder;
}
.me-tagline {
  font-size: 14px;
  font-weight: lighter;
}
a.navbar-brand .fa-code {
  transition: transform 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
a.navbar-brand .fa-circle {
  transition: color 0.5s ease-in;
}
a.navbar-brand:hover .fa-code {
  transform: rotateZ(180deg);
}
a.navbar-brand:hover .fa-circle {
  color: #1969a8;
}
li.me-link {
  transition: border 0.5s;
  position: relative;
}
li.me-link.active:before {
  content: "";
  position: absolute;
  background: #f8f8ff;
  bottom: 0;
  height: 2px;
  left: 0;
  right: 0;
}
li.me-link:before {
  content: "";
  position: absolute;
  background: rgba(0,0,0,0);
  transition: all 0.3s;
  bottom: 0;
  left: 50%;
  right: 50%;
  height: 2px;
}
li.me-link:hover:before {
  content: "";
  position: absolute;
  background: #1969a8;
  left: 0;
  right: 0;
  height: 2px;
}
.sub-navbar {
  background-color: #157edd;
  color: #f8f8ff;
}
.me-headshot {
  border-radius: 999px;
  border: 3px solid #222;
  transform: rotateZ(6deg);
  float: left;
}
.at-least-full-page {
  min-height: 90vh;
}
.social-icon {
  display: inline-block;
  color: #888;
  transition: all 0.3s;
}
.social-icon:hover {
  color: #f8f8ff;
  transition: all 0.6s;
}
.portfolio-screenshot {
  max-height: 80vh;
  max-width: 100%;
  border: 2px solid #141414;
}
